nav {
    background-color: #222;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-family: system-ui;
    
}
  
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
nav li {
    display: inline-block;
    margin: 0 10px;
}
  
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    transition: all 0.3s ease;
}
  
nav a:hover {
    background-color: #fff;
    color: #222;
}
  
footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
  
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
footer li {
    margin: 0 10px;
}
  
footer a {
    color: #fff;
    font-size: 24px;
    transition: color 0.3s ease;
}
  
footer a:hover {
    color: #00c7b7;
}
  
.hero-image {
    position: relative;
    height: 100vh;
    width: 50%;
    background-color: #333;
    color: #fff;
    display: flex;
  }
  
.hero-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
}
  
.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: system-ui;
}
  
.hero-text h1 {
    font-size: 90px;
    margin-bottom: 20px;
}
  
.hero-text p {
    font-size: 24px;
    margin-bottom: 40px;
}
  
body{
    margin: 0;

}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: system-ui;
    
}

main p{
    padding: 30px;
    font-size: medium;
}

.description{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.description p{
    font-size: 24px;
    padding: 2rem;
    margin: 0
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.languages{
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 100px;
    flex-wrap: wrap;
    justify-content: center;
}

.languages div {
    border: 1px solid #333;
    margin: 3px;
    padding: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.15s ease;
    background: rgb(124,223,238);
    background: radial-gradient(0deg, rgba(124,223,238,1) 0%, rgba(60,197,199,1) 100%);
}

.languages div:hover {
    transform: scale(1.5) rotate(0.01turn);
    background: rgb(124,196,238);
    background: radial-gradient(90deg, rgba(124,196,238,1) 0%, rgba(60,160,199,1) 100%);
}

svg{
    display: inline-flex;
    height:1em;
    width:1em;
    position: relative;
}

hr{
    border-top: 4px solid #bbb;
    border-radius: 3px;
    width: 90%;
    margin-bottom: 30px;
}

.experience {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 80%
  }
  
  .experience h2{
    margin-top: 0px;
    margin-bottom: 15px;
  }
  
  .experience h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #666;
  }
  
  .experience p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #999;
  }
  
  .experience ul {
    list-style: disc;
    margin-left: 20px;
  }
  
  .experience li {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .experience img{
    top:0;
    bottom:0;
    height: 40px;
    width: 40px;
    padding-right: 20px
  }